<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li></ul></div>

## Data Cleaning

In [74]:
import pandas as pd
import numpy as np

data= pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt")
print(data.shape)
print(data.columns)
data.head()

(205963, 11)
Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205963 entries, 0 to 205962
Data columns (total 11 columns):
C/A                                                                     205963 non-null object
UNIT                                                                    205963 non-null object
SCP                                                                     205963 non-null object
STATION                                                                 205963 non-null object
LINENAME                                                                205963 non-null object
DIVISION                                                                205963 non-null object
DATE                                                                    205963 non-null object
TIME                                                                    205963 non-null object
DESC                                                                    205963 non-null object
ENTRIES                                                                 205963 non-null int64
EXITS                                                                   205963 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.3+ MB

In [48]:
data["STATION"].value_counts()

34 ST-PENN STA     4215
FULTON ST          4038
23 ST              3107
GRD CNTRL-42 ST    2810
86 ST              2637
CANAL ST           2477
34 ST-HERALD SQ    2333
CHAMBERS ST        2290
59 ST              2188
42 ST-PORT AUTH    2185
28 ST              2124
TIMES SQ-42 ST     2113
WALL ST            2090
ATL AV-BARCLAY     2032
14 ST              1974
125 ST             1897
PATH NEW WTC       1796
59 ST COLUMBUS     1736
14 ST-UNION SQ     1691
CORTLANDT ST       1651
47-50 STS ROCK     1566
161/YANKEE STAD    1562
CHURCH AV          1554
96 ST              1548
METS-WILLETS PT    1512
JAY ST-METROTEC    1512
50 ST              1504
WTC-CORTLANDT      1470
LEXINGTON AV/53    1355
BOWLING GREEN      1310
                   ...
INTERVALE AV        126
219 ST              126
CHAUNCEY ST         126
21 ST               126
BOWERY              126
GATES AV            126
BAYCHESTER AV       126
NEPTUNE AV          126
AVENUE X            126
CORTELYOU RD        126
SHEPHERD AV         126
BROAD CHANNEL       126
PARKSIDE AV         126
CRESCENT ST         126
NEREID AV           126
138/GRAND CONC      126
225 ST              126
25 AV               126
88 ST               126
NORWOOD AV          126
MORRIS PARK         126
CLASSON AV          126
ALABAMA AV          126
LIBERTY AV          126
BUSHWICK AV         126
FOREST AVE          126
WESTCHESTER SQ      125
MONTROSE AV         123
CLEVELAND ST         84
SUTTER AV            84
Name: STATION, Length: 378, dtype: int64

In [49]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
205933    False
205934    False
205935    False
205936    False
205937    False
205938    False
205939    False
205940    False
205941    False
205942    False
205943    False
205944    False
205945    False
205946    False
205947    False
205948    False
205949    False
205950    False
205951    False
205952    False
205953    False
205954    False
205955    False
205956    False
205957    False
205958    False
205959    False
205960    False
205961    False
205962    False
Length: 205963, dtype: bool

In [50]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ENTRIES,205963.0,4.199277e+07,2.130875e+08,0.0,274341.0,2118270.0,6697791.0,2.129237e+09
EXITS,205963.0,3.430355e+07,1.962695e+08,0.0,102406.5,1205918.0,4592071.5,2.123981e+09

In [76]:
# Remove the extra white spaces in the columns
data.columns = data.columns.str.strip()
data.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [77]:
data["DESC"].value_counts()

REGULAR       205207
RECOVR AUD       756
Name: DESC, dtype: int64

In [80]:
test1= data[data["DESC"]=="RECOVR AUD"]
test1.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1304,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,08:00:00,RECOVR AUD,1622559,477538
8122,A049,R088,02-00-00,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,774097,1063570
8165,A049,R088,02-00-01,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,856800,707445
8208,A049,R088,02-00-02,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,834334,506470
8251,A049,R088,02-00-03,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,872365011,871604578
8294,A049,R088,02-01-00,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,877337,1453742
8337,A049,R088,02-01-01,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,126025,177980
8380,A049,R088,02-01-02,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,1486129,1710643
8423,A049,R088,02-03-00,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,1458421,244993
8466,A049,R088,02-03-01,CORTLANDT ST,RNW,BMT,06/24/2019,21:00:00,RECOVR AUD,1020227,252894

In [82]:
data.iloc[1300:1307]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1300,A010,R080,00-00-04,57 ST-7 AV,NQRW,BMT,06/28/2019,16:00:00,REGULAR,4390969,2183783
1301,A010,R080,00-00-04,57 ST-7 AV,NQRW,BMT,06/28/2019,20:00:00,REGULAR,4391578,2183885
1302,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,00:00:00,REGULAR,1622466,477513
1303,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,04:00:00,REGULAR,1622525,477516
1304,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,08:00:00,RECOVR AUD,1622559,477538
1305,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,12:00:00,REGULAR,1622770,477636
1306,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/22/2019,16:00:00,REGULAR,1623184,477739

In [86]:
data["TIME"].unique()

array(['00:00:00', '04:00:00', '08:00:00', ..., '22:48:53', '22:51:38',
       '22:52:59'], dtype=object)

In [85]:
data[data["STATION"]=="59 ST"].tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
163325,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/27/2019,08:00:00,REGULAR,117477428,485311
163326,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/27/2019,12:00:00,REGULAR,117477444,485602
163327,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/27/2019,16:00:00,REGULAR,117477463,486015
163328,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/27/2019,20:00:00,REGULAR,117477533,486705
163329,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,00:00:00,REGULAR,117477542,486774
163330,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,04:00:00,REGULAR,117477547,486780
163331,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,08:00:00,REGULAR,117477549,486808
163332,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,12:00:00,REGULAR,117477559,487054
163333,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,16:00:00,REGULAR,117477583,487414
163334,R245A,R051,01-06-01,59 ST,456NQRW,IRT,06/28/2019,20:00:00,REGULAR,117477640,487861

In [52]:
test= data[data["STATION"]=="34 ST-PENN STA"]
test
# Combine with Linemame and change the name of the stations

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
52746,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,00:00:00,REGULAR,36920,117707
52747,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,04:00:00,REGULAR,36938,117728
52748,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,08:00:00,REGULAR,36975,117837
52749,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,12:00:00,REGULAR,37067,118135
52750,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,16:00:00,REGULAR,37228,118440
52751,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/22/2019,20:00:00,REGULAR,37420,118797
52752,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,00:00:00,REGULAR,37522,118938
52753,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,04:00:00,REGULAR,37532,118964
52754,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,08:00:00,REGULAR,37573,119040
52755,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,12:00:00,REGULAR,37671,119330
52756,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,16:00:00,REGULAR,37820,119707
52757,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/23/2019,20:00:00,REGULAR,37951,119975
52758,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,00:00:00,REGULAR,38052,120084
52759,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,04:00:00,REGULAR,38064,120110
52760,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,08:00:00,REGULAR,38226,120297
52761,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,12:00:00,REGULAR,38510,121041
52762,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,16:00:00,REGULAR,38605,121313
52763,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/24/2019,20:00:00,REGULAR,38748,122213
52764,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,00:00:00,REGULAR,38789,122324
52765,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,04:00:00,REGULAR,38794,122327
52766,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,08:00:00,REGULAR,38968,122551
52767,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,12:00:00,REGULAR,39291,123370
52768,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,16:00:00,REGULAR,39369,123681
52769,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/25/2019,20:00:00,REGULAR,39495,124514
52770,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,00:00:00,REGULAR,39556,124606
52771,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,04:00:00,REGULAR,39561,124611
52772,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,08:00:00,REGULAR,39738,124809
52773,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,12:00:00,REGULAR,39959,125664
52774,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,16:00:00,REGULAR,40059,125973
52775,N067,R012,00-00-00,34 ST-PENN STA,ACE,IND,06/26/2019,20:00:00,REGULAR,40208,126845
...,...,...,...,...,...,...,...,...,...,...,...
137685,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/25/2019,06:00:00,REGULAR,67880513,18381568
137686,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/25/2019,10:00:00,REGULAR,67880586,18381987
137687,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/25/2019,14:00:00,REGULAR,67880663,18382313
137688,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/25/2019,18:00:00,REGULAR,67880798,18382668
137689,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/25/2019,22:00:00,REGULAR,67880962,18382825
137690,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,02:00:00,REGULAR,67881010,18382873
137691,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,06:00:00,REGULAR,67881014,18382889
137692,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,10:00:00,REGULAR,67881102,18383383
137693,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,14:00:00,REGULAR,67881243,18383727
137694,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,18:00:00,REGULAR,67881474,18384070
137695,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/26/2019,22:00:00,REGULAR,67881672,18384254
137696,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,02:00:00,REGULAR,67881724,18384304
137697,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,06:00:00,REGULAR,67881729,18384328
137698,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,10:00:00,REGULAR,67881809,18384801
137699,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,14:00:00,REGULAR,67881965,18385110
137700,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,18:00:00,REGULAR,67882172,18385495
137701,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:00:00,REGULAR,67882342,18385701
137702,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:26:11,REGULAR,67882352,18385720
137703,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:27:31,REGULAR,67882352,18385721
137704,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:28:52,REGULAR,67882353,18385721
137705,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:30:13,REGULAR,67882353,18385721
137706,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:31:33,REGULAR,67882353,18385721
137707,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/27/2019,22:32:54,REGULAR,67882354,18385722
137708,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,02:00:00,REGULAR,67882387,18385769
137709,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,06:00:00,REGULAR,67882395,18385786
137710,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,08:01:27,REGULAR,67882413,18385877
137711,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,10:00:00,REGULAR,67882487,18386152
137712,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,14:00:00,REGULAR,67882667,18386467
137713,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,18:00:00,REGULAR,67882887,18386827
137714,R142,R293,01-06-01,34 ST-PENN STA,123ACE,IRT,06/28/2019,22:00:00,REGULAR,67883049,18387052

In [72]:
#data[data["DESC"] == "RECOVR AUD"]
#data.iloc[13:50]
#Only keep the Desc= Reg
#data = data[data["DESC"] != "RECOVR AUD"].reset_index()

In [73]:
data["DESC"].value_counts()

KeyError: 'DESC'

In [54]:
data.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [55]:
print(data["DIVISION"].value_counts())
print(data["DESC"].value_counts())

IRT    74748
IND    72273
BMT    42890
PTH    13389
SRT     1419
RIT      488
Name: DIVISION, dtype: int64
REGULAR    205207
Name: DESC, dtype: int64

In [56]:
# Drop columns that don't add value to the analysis
data = data.drop(labels = ["DIVISION","DESC"], axis = 1)
data.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,00:00:00,7107725,2407457
1,1,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,04:00:00,7107738,2407465
2,2,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,08:00:00,7107761,2407491
3,3,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,12:00:00,7107858,2407541
4,4,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,16:00:00,7108075,2407581

In [57]:
data["TIME"].value_counts()

16:00:00    17378
20:00:00    17337
12:00:00    17324
00:00:00    17301
04:00:00    17299
08:00:00    17259
17:00:00    12746
13:00:00    12745
09:00:00    12735
01:00:00    12727
05:00:00    12726
21:00:00    12715
18:00:00      782
10:00:00      782
02:00:00      781
22:00:00      781
06:00:00      781
14:00:00      780
19:00:00      273
23:00:00      273
03:00:00      273
15:00:00      273
07:00:00      273
11:00:00      273
04:22:00      260
12:22:00      259
08:22:00      259
16:22:00      259
20:22:00      259
00:22:00      259
            ...
13:23:17        1
07:46:44        1
18:47:11        1
21:26:17        1
03:58:18        1
11:38:49        1
14:23:29        1
04:29:21        1
13:01:36        1
12:46:21        1
17:00:58        1
15:54:17        1
23:46:16        1
02:06:56        1
00:41:05        1
01:53:25        1
06:21:29        1
07:03:46        1
03:27:13        1
10:22:44        1
02:12:22        1
10:41:22        1
20:06:18        1
08:32:34        1
23:50:03        1
20:24:48        1
17:30:31        1
21:25:15        1
10:02:20        1
01:59:11        1
Name: TIME, Length: 12736, dtype: int64

In [58]:

data["TIME"].unique()

array(['00:00:00', '04:00:00', '08:00:00', ..., '22:48:53', '22:51:38',
       '22:52:59'], dtype=object)

In [59]:
data.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,00:00:00,7107725,2407457
1,1,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,04:00:00,7107738,2407465
2,2,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,08:00:00,7107761,2407491
3,3,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,12:00:00,7107858,2407541
4,4,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,16:00:00,7108075,2407581

In [60]:
cols_diff= ["ENTRIES","EXITS"]
cols_add = ["TURNSTILE_ENTRIES","TURNSTILE_EXITS"]
data[cols_add] = data.groupby(by =["STATION","C/A","SCP"])[cols_diff].diff()
data.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,TURNSTILE_ENTRIES,TURNSTILE_EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,00:00:00,7107725,2407457,NaN,NaN
1,1,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,04:00:00,7107738,2407465,13.0,8.0
2,2,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,08:00:00,7107761,2407491,23.0,26.0
3,3,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,12:00:00,7107858,2407541,97.0,50.0
4,4,A002,R051,02-00-00,59 ST,NQR456W,06/22/2019,16:00:00,7108075,2407581,217.0,40.0

In [61]:
show= data[data["TURNSTILE_ENTRIES"] < 0]
show.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,TURNSTILE_ENTRIES,TURNSTILE_EXITS
3260,3261,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,04:00:00,1238274181,1813358198,-260.0,37.0
3261,3262,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,08:00:00,1238274092,1813358285,-89.0,87.0
3262,3263,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,12:00:00,1238273859,1813358522,-233.0,237.0
3263,3264,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,16:00:00,1238273368,1813358866,-491.0,344.0
3264,3265,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,20:00:00,1238272663,1813359224,-705.0,358.0

In [62]:
data[3259:3265]

,index,C/A,UNIT,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,TURNSTILE_ENTRIES,TURNSTILE_EXITS
3259,3260,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,00:00:00,1238274441,1813358161,NaN,NaN
3260,3261,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,04:00:00,1238274181,1813358198,-260.0,37.0
3261,3262,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,08:00:00,1238274092,1813358285,-89.0,87.0
3262,3263,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,12:00:00,1238273859,1813358522,-233.0,237.0
3263,3264,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,16:00:00,1238273368,1813358866,-491.0,344.0
3264,3265,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQRW,06/22/2019,20:00:00,1238272663,1813359224,-705.0,358.0

In [66]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
index,205207.0,1.029611e+05,5.948222e+04,0.0,51435.5,102942.0,154495.5,2.059620e+05
ENTRIES,205207.0,4.194368e+07,2.130251e+08,0.0,274626.5,2118790.0,6706049.5,2.129237e+09
EXITS,205207.0,3.426469e+07,1.961521e+08,0.0,102822.5,1207751.0,4593220.0,2.123981e+09
TURNSTILE_ENTRIES,200328.0,-1.240908e+03,2.603362e+06,-867827527.0,9.0,74.0,239.0,7.665461e+08
TURNSTILE_EXITS,200328.0,-1.387766e+01,5.479833e+05,-174324528.0,8.0,54.0,169.0,1.712709e+08

In [68]:
#COnvert time and Date to be able to work with it
f="%m/%d/%Y%H:%M:%S"
data["TIME_STAMP"] = pd.to_datetime(data["DATE"]+data["TIME"],format =f)
data["DATE"] = pd.to_datetime(data["DATE"], format ="%m/%d/%Y")
# Create column with day of the week
data['DAY'] = data['DATE'].dt.day_name()
print(data.dtypes)
data.head()

ValueError: format number 1 of "b'00:00:00'" is not recognized

In [119]:
# Some visuals to see what is going on
import matplotlib.pyplot as plt
#top_20_stations_exits = data.groupby(by = ["STATION","LINENAME"])["TURNSTILE_EXITS"].sum().reset_index()
daily_riders= data.groupby(by = ["STATION","LINENAME"])["TURNSTILE_ENTRIES","TURNSTILE_EXITS"].sum().reset_index()
daily_riders

            STATION      LINENAME  TURNSTILE_ENTRIES  TURNSTILE_EXITS
0    14 ST-UNION SQ      LNQR456W           449665.0         397771.0
1             23 ST           NRW           139418.0          73395.0
2             28 ST           NRW            79463.0          86640.0
3   34 ST-HERALD SQ      BDFMNQRW           191629.0         244846.0
4             49 ST          NQRW           164358.0         139822.0
5        5 AV/59 ST          NQRW           103137.0          76257.0
6        57 ST-7 AV          NQRW           215709.0          64556.0
7             59 ST       NQR456W            78639.0          49680.0
8          8 ST-NYU           NRW           103704.0          74365.0
9          CANAL ST       JNQRZ6W           243630.0         204818.0
10        CITY HALL           NRW            17008.0           8384.0
11        PRINCE ST           NRW            96606.0          94731.0
12   TIMES SQ-42 ST  ACENQRS1237W            92925.0         136666.0

In [104]:
top_stations= daily_riders.sort_values(by =["TURNSTILE_EXITS"],ascending= False)
top_20_stations =top_stations[:20]
top_20_stations

            STATION      LINENAME  TURNSTILE_ENTRIES  TURNSTILE_EXITS
0    14 ST-UNION SQ      LNQR456W           449665.0         397771.0
3   34 ST-HERALD SQ      BDFMNQRW           191629.0         244846.0
9          CANAL ST       JNQRZ6W           243630.0         204818.0
4             49 ST          NQRW           164358.0         139822.0
12   TIMES SQ-42 ST  ACENQRS1237W            92925.0         136666.0
11        PRINCE ST           NRW            96606.0          94731.0
2             28 ST           NRW            79463.0          86640.0
5        5 AV/59 ST          NQRW           103137.0          76257.0
8          8 ST-NYU           NRW           103704.0          74365.0
1             23 ST           NRW           139418.0          73395.0
6        57 ST-7 AV          NQRW           215709.0          64556.0
7             59 ST       NQR456W            78639.0          49680.0
10        CITY HALL           NRW            17008.0           8384.0

In [251]:

# Create column with day of the week
data['DAY'] = data['DATE'].dt.day_name()
data.head()

index                 int64
C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DATE         datetime64[ns]
TIME                 object
ENTRIES             float64
EXITS               float64
TIMESTAMP    datetime64[ns]
DAY                  object
dtype: object